<li><a href="https://github.com/Emaleth" title="Github"><i class="fab fa-github"></i></a></li>
<li><a href="https://twitter.com/EmalethDev" title="Twitter"><i class="fab fa-twitter"></i></a></li>
<li><a href="https://odysee.com/@Emaleth:c" title="Odysee"><i class="fas fa-hashtag"></i></a></li>
<li><a href="https://www.youtube.com/channel/UCMWrvCUwZyBYuLbhGB6P-Cg" title="Youtube"><i class="fab fa-youtube"></i></a></li>
<li><a href="https://emaleth.itch.io/" title="Itch"><i class="fab fa-itch-io"></i></a></li>

<!-- <li><a href="" title=""><i class=""></i></a></li> -->