<div class="tcontainer"><div class="ticker-wrap"><div class="ticker-move">
  <div class="ticker-item"><b><p style="color:red; display:inline-block;">WEBSITE UNDER CONSTRUCTION</p></b></div>
  <div class="ticker-item"><b><p style="color:red; display:inline-block;">W.I.P.</p></b></div>
  <div class="ticker-item"><b><p style="color:red; display:inline-block;">WEBSITE UNDER CONSTRUCTION</p></b></div>
  <div class="ticker-item"><b><p style="color:red; display:inline-block;">W.I.P.</p></b></div>
  <div class="ticker-item"><b><p style="color:red; display:inline-block;">WEBSITE UNDER CONSTRUCTION</p></b></div>
</div></div></div>
