---
layout: default
---
<div class="repositories">
  {%- if page.title -%}
    <h1 style="text-align:center" class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <table>
    {% for page in site.pages %}
      {% if page.collection == "gh-repos" %}
        <tr style="text-align:center">
          <td>
            <a href="{{ page.url }}">
              <h2 style="margin:0px">
                {{ page.title }}
              </h2>
            </a>
            {% if page.content contains '<!--more-->' %}
              <p>
                {{ page.content | split:'<!--more-->' | first }}
              </p>
            {% endif %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>

