---
layout: page
---
<article class="repo-list">
  {% for page in site.pages %}
    {% if page.collection == "gh-repos" %}
      <div style="border:1px solid #e5b083; border-radius:5px; background-color:#426e5d; padding:20px; margin-top:15px; margin-bottom:15px; margin-left:0px; margin-right:0px; text-align:center">
        <a href="{{ page.url }}">
          <h2 style="margin:0px">
            {{ page.title }}
          </h2>
        </a>
        {% if page.content contains '<!--more-->' %}
          <p>
            {{ page.content | split:'<!--more-->' | first }}
          </p>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
</article>

