---
layout: page
---
<article class="repo-list">
  {% for page in site.pages %}
    {% if page.collection == "gh-repos" %}
      <pre>
      <code style="margin-top:15px;margin-bottom:15px;margin-right:0px;margin-left:0px;text-align:center">
        <a href="{{ page.url }}">
          <h2 style="margin:0px">
            {{ page.title }}
          </h2>
        </a>
        {% if page.content contains '<!--more-->' %}
          <p>
            {{ page.content | split:'<!--more-->' | first }}
          </p>
        {% endif %}
      </code>
      </pre>
    {% endif %}
  {% endfor %}
</article>

