---
layout: page
---
<article class="repo-list">
  {% for page in site.pages %}
    {% if page.collection == "gh-repos" %}
      <p style="background-color:#666666;padding:20px;border: 2px solid #999999;">
        <a href="{{ page.url }}">
          <h2>
            {{ page.title }}
          </h2>
        </a>
        {% if page.content contains '<!--more-->' %}
          <p>
            {{ page.content | split:'<!--more-->' | first }}
          </p>
        {% endif %}
      </p>
    {% endif %}
  {% endfor %}
</article>

